* {
  padding: 0;
  margin: 0;
}

p {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
}

header {
  background: rgba(f,f,f,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}
body{
    background-color: white;
    font-family: sans-serif;
    color: black;
}

h1{
    font-size: 42px;
    text-align: center;
}
legend{
    font-size: 25px;
    font-size-adjust: auto;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #000;
  text-decoration: none;
}

nav ul li:hover {
  background: #cccccc;
}
.contenido {
    padding-top: 80px;
    margin: 0 50px;
}
.menu {
  width: 100%;
  margin: auto;
  overflow:hidden;
}

#bienvenida{
/*    background-color: orange;*/
    background-image: url(../images/encabezado_atencion_medica.jpg);
    opacity: 0.4;
    background-size: cover;
    height: 90%;
}
#acerca{
/*    background-color: burlywood;*/
    background-image: url(../images/2.jpg);
    opacity: 0.4;
    background-size: cover;
    height: 90%;
}
#comentarios{
/*    background-color: aquamarine;*/
    background-image: url(../images/equipment--doctor.jpg);
    opacity: 0.4;
    background-size: cover;
    height: 90%;
}
#contacto{
/*    background-color: bisque;*/
    background-image: url(../images/logros-salud-2009.jpg);
    opacity: 0.4;
    background-size: cover;
    height: 90%;
}
#sesion{
/*    background-color: cyan;*/
    background-image: url(../images/coberturas-seguros-de-salud.jpg);
    opacity: 0.4;
    background-size: cover;
    height: 90%;
}
