* {
  padding: 0;
  margin: 0;
}

p {
	background: rgba(ff,ff,ff,0.5);
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
}

header {
  background: rgba(f,f,f,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}
body{
    background-color: white;
    font-family: sans-serif;
    color: black;
}

h1{
    font-size: 42px;
    text-align: center;
}
legend{
    font-size: 25px;
    font-size-adjust: auto;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #000;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

nav ul li:hover {
  background: #cccccc;
}
section{
    z-index: 20;
}
.contenido {
    padding-top: 80px;
    margin: 0 50px;
    color: black;
    z-index: 10;
}
.contenido p{
	background-color: white;
	opacity: 0.7;
	border-radius: 10px;
}
.menu {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
/*#fondo-bienvenida{
    background-image: url(../images/encabezado_atencion_medica.jpg);
    opacity: 0.4;
    background-size: cover;
    height: 90%;
    z-index: -10;
}*/
#bienvenida{
/*    background-color: orange;*/
    background-image: url(../images/encabezado_atencion_medica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;

}

#acerca{
/*    background-color: burlywood;*/
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}
#comentarios{
/*    background-color: aquamarine;*/
    background-image: url(../images/equipment--doctor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}
#contacto{
/*    background-color: bisque;*/
    background-image: url(../images/logros-salud-2009.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}
input{
    margin-top: 20px;
    width: 400px;
}
#contacto-comentario{
    width: 600px;
    height: 250px;
}
#sesion{
/*    background-color: cyan;*/
    background-image: url(../images/coberturas-seguros-de-salud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}
img{
    position: absolute;
    opacity: .4;
    z-index: -10;
    width: 100%;
    height: 90%;
}
button{
    height: 30px;
    width: auto;
    margin-top: 20px;
    float: right;
    margin-right: 40px;
}
#ini-sesion{
    height: 100pxpx;
    width: 400px;
    background: #222222;
    font-family: sans-serif;
    font-size: 30px;
    color: #eeeeee;
    margin-top: 100px;
    margin-left: 45%;
	border-radius: 12px;
	text-decoration: none;
}
#ini-sesion:hover{
    background: #ffffff;
    color: black;
}

#acerca-parraghraph{
    background-color: aliceblue;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #555;
  color: #fff;
}
footer{
	background-color: grey;
	opacity: 40%;
	height: 40px;
	width: auto;

}
footer p{
	color: white;
	float: inherit;
	font-size: 20px;;
	margin-left: 450px;
}
#form-login{
	height: 400px;
	width: 600px;
	margin: 0 auto;
	background-color: aqua;
  border-radius: 20px;
}
