<div class="jumbotron">
  <h1>{{message}}</h1>
  <p>
    <section class="contenido">
            <form id="form-paciente">
                <fieldset>
                    <legend>Registro de usuarios</legend>
                    <ul>
                    <li>
                    <label>CURP</label>
                    <input type="text" id="curp">
                    </li>
                    <li>
                    <label>Nombre</label>
                     <input type="text" id="nombre">
                    </li>
                    <li>
                    <label>Apellidos</label>
                    <input type="text" id="apellidos">
                    </li>
                    <li>
                    <label>Edad</label>
                    <input type="text" id="edad">
                    </li>
                    <li>
                    <label>Peso</label>
                    <input type="text" id="peso">
                    </li>
                    <li>
                    <label>Estatura</label>
                    <input type="text" id="estatura">
                    </li>
                    <li>
                    <label>Domicilio</label>
                    <input type="text" id="domicilio">
                    </li>
                    <li>
                    <label>Historial</label>
                    <input type="text" id="historial">
                    </li>
                    <li>
                    <label>Rol</label>
                    <input type="text" id="rol">
                    </li>
                    <li>
                    <label>Correo electronico</label>
                    <input type="text" id="correo">
                    </li>
                    <li>
                    <label>Contraseña</label>
                    <input type="password" id="contrasena">
                    </li>
                    </ul>
                    <button value="Envio" onclick="envio();">Enviar datos</button>
                </fieldset>
            </form>
        </section>
  </p>
</div>
