<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>sensHealth: Paciente</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
	<body>
        <header>
            <nav id="menu">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="paciente-datasend.html">Mis datos</a></li>
                    <li><a href="index.html">Cerrar sesion</a></li>
                </ul>
            </nav>
        </header>
        <section class="contenido">
            <form id="form-paciente">
                <fieldset>
                    <legend>Datos de usuario</legend>
                    <ul>
                    <li>
                    <label>Nombre: </label>
                    <span id="nombre"></span>
                    </li>
                    <li>
                    <label>Apellidos: </label>
                     <span id="apellido"></span>
                    </li>
                    <li>
                    <label>Latitud: </label>
                    <span id="latitud"></span>
                    </li>
                    <li>
                    <label>Longitud: </label>
                    <span id="longitud"></span>
                    </li>
                    <li>
                    <label>Ritmo Cardiaco: </label>
                    <span id="ritmo_cardiaco"></span>
                    </li>
                    <li>
                    <label>Fecha: </label>
                    <span id="fecha"></span>
                    </li>
                    </ul>
                </fieldset>
            </form>
        </section>
	</body>
</html>
